[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
pillow = "*"
ipykernel = "*"
matplotlib = "*"
scikit-image = "*"
numba = "*"

[requires]
python_version = "3.10"

[dev-packages]
pandas = "*"
notebook = "*"
